<h1><%= @category.name -%></h1>

<ul>
   <% @category.products.each do |c| %>
   <%# <li><%= link_to c.title, :action => "show", :controller => 'product', :id => c.id -%>
  <li><%= c.title %>
   <%= form_with model: @order_item, remote: true do |f| %>
      <%= f.hidden_field :product_id, value: c.id %>
      <%= f.number_field :quantity, value: 1, min: 1%>
      <%= f.submit "Add To Cart" %>
   <%end%>
  
  </li>
  
   <% end %>
</ul>

<h3><%= render 'cart/cart' %></h3>